<div class="login">
  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query"
  ></mat-progress-bar>
  <div class="main">
    <div class="login-container">
      <!--  برای شماره تلفن  -->
      <mat-card class="mat-elevation-z2 col-md-4 col-sm-8 col-12 card">
        <div class="title">
          <mat-card-title> وارد شوید </mat-card-title>
        </div>

        <div class="form-container">
          <mat-form-field class="col-sm-10 col-11" appearance="outline">
            <mat-label> نام کاربری </mat-label>
            <input
              matInput
              type="text"
              [formControl]="usernameControl"
              [(ngModel)]="username"
            />
            <mat-icon matSuffix> person </mat-icon>
            <mat-error *ngIf="usernameControl.invalid">
              نام کاربری الزامی است
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-10 col-11" appearance="outline">
            <mat-label> رمز عبور </mat-label>
            <input
              [formControl]="passwordControl"
              matInput
              type="password"
              [(ngModel)]="password"
            />
            <mat-icon matSuffix> lock </mat-icon>
            <mat-error *ngIf="passwordControl.invalid">
              رمز عبور الزامی است
            </mat-error>
          </mat-form-field>
        </div>

        <div class="button-container">
          <button
            (click)="login()"
            class="btn"
            mat-raised-button
            color="primary"
          >
            وارد شوید
          </button>
        </div>
        <div *ngIf="loginError" class="error">
          نام کاربری یا رمز عبور اشتباه
        </div>
        <div class="link">
          <a routerLink="/user/signup"> حساب کاربری ندارید؟ ثبت نام کنید </a>
        </div>
        <div class="link">
          <a routerLink="/user/forget-password"> رمز عبور فراموش کرده اید؟ </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
