.main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.setting {
  display: flex;
  justify-content: space-between;
}
.withdraw-method {
  margin: 20px 0px;
}
.methods {
  display: flex;
  justify-content: space-between;
}
.table {
  margin-top: 30px;
}
.cpc{
  line-height: 2;
}
