<mat-toolbar color="primary">
  <span> لینک ها </span>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loading"
  color="warn"
  mode="indeterminate"
></mat-progress-bar>
<div class="table-container">
  <mat-card class="search-card">
    <div class="row space-between">
      <div class="col-4">
        <mat-form-field style="width: 100%">
          <mat-label> جست و جو</mat-label>
          <input
            [formControl]="searchControl"
            type="text"
            placeholder="جست و جو کنید"
            matInput
          />
          <mat-hint> جست و جو در لینک اصلی </mat-hint>
          <mat-icon matSuffix> search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-select [(ngModel)]="status" (selectionChange)="resetPage()">
            <mat-option [value]="'active'"> لینک های فعال </mat-option>
            <mat-option [value]="'inactive'"> لینک غیر فعال </mat-option>
            <mat-option [value]="'warning'"> لینک های دارای تخلف </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <div
    *ngIf="links !== null && links.length === 0 && !loading"
    class="not-find"
  >
    لینکی یافت نشد!
  </div>
  <div *ngIf="links.length > 0 && links !== null">
    <table mat-table [dataSource]="links" class="table mat-elevation-z8">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let index = index">
          {{ index + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>نام کاربری</th>
        <td mat-cell *matCellDef="let element">
          {{ !element.user ? "بدون ثبت نام" : element.user.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>وضعیت</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
          <span *ngSwitchCase="'active'"> فعال </span>
          <span *ngSwitchCase="'inactive'"> غیر فعال </span>
          <span *ngSwitchCase="'warning'"> مشکل دار </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="mainLink">
        <th mat-header-cell *matHeaderCellDef>لینک اصلی</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="goToLink(element.mainLink)" target="_blank">
            {{ element.mainLink | link }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="shortLink">
        <th mat-header-cell *matHeaderCellDef>لینک کوتاه</th>
        <td mat-cell *matCellDef="let element">{{ element.shortLink }}</td>
      </ng-container>

      <ng-container matColumnDef="showAds">
        <th mat-header-cell *matHeaderCellDef>نوع تبلیغات</th>
        <td mat-cell *matCellDef="let element">
          {{ element.showAds ? "درآمدزا" : "بدون درامد" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="popUp">
        <th mat-header-cell *matHeaderCellDef>پاپ آپ</th>
        <td mat-cell *matCellDef="let element">
          {{ element.popUp ? "فعال" : "غیر فعال" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>تاریخ ایجاد</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | jalaali: "dddd  jD jMMMM jYYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>عملیات</th>
        <td mat-cell *matCellDef="let element">
          <button
            *ngIf="element.status !== 'warning'"
            mat-icon-button
            (click)="setWarning(element)"
          >
            <mat-icon>report</mat-icon>
          </button>

          <button
            *ngIf="element.showAds"
            style="color: teal"
            mat-icon-button
            [routerLink]="['/member/dashboard/link', element._id]"
          >
            <mat-icon> show_chart</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="pagination-container justify-content-left mat-elevation-z1">
      <div class="pagination">
        <span class="inf"> تعداد نمایش در هر صفحه </span>
        <mat-form-field>
          <mat-select [(ngModel)]="limit" (selectionChange)="selectionChange()">
            <mat-option [value]="10"> 10 </mat-option>
            <mat-option [value]="20"> 20 </mat-option>
            <mat-option [value]="50"> 50 </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="inf">
          {{ skip + 1 }} تا {{ skip + limit < count ? skip + limit : count }} از
          {{ count }}
        </span>

        <button
          (click)="firstPage()"
          [disabled]="skip === 0"
          mat-icon-button
          matTooltip="صفحه اول"
        >
          <mat-icon>last_page</mat-icon>
        </button>

        <button
          (click)="prevPage()"
          [disabled]="skip === 0"
          mat-icon-button
          matTooltip="صفحه قبل"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>

        <button
          (click)="nextPage()"
          [disabled]="limit + skip >= count"
          mat-icon-button
          matTooltip="صفحه بعد"
        >
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button
          (click)="lastPage()"
          [disabled]="limit + skip >= count"
          mat-icon-button
          matTooltip="صفحه آخر"
        >
          <mat-icon>first_page</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
