<footer class="footer">
  <div class="footer-container">
    <div class="col-md-4 col-12 footer-nav">
      <span>
        <a href="#"> سلب مسئولیت </a>
      </span>
      <span>
        <a routerLink="/user/rules"> قوانین </a>
      </span>
      <span>
        <a href="#"> کانال و پشتیبانی تلگرام </a>
      </span>
    </div>
    <div style="text-align: left" class="copy-right col-md-4 col-12">
      <div>
        طراحی و برنامه نویسی :
        <a href="https://moshavernet.com" target="_blank"> مشاورنت </a> | کپی
        رایت &copy; 1399
      </div>
    </div>
  </div>
</footer>
