<footer class="footer">
  <div class="footer-container">
    <div class="col-md-4 col-12 footer-nav">
      <span>
        <a routerLink="/user/rules">
        قوانین
        </a>
      </span>
      <span>
        <a href="#">
          سلب مسئولیت
        </a>
      </span>
      <span>
        <a href="#">
          کانال و پشتیبانی تلگرام
        </a>
      </span>
    </div>
    <div
      style="text-align: left"
      class="social col-md-1 col-12"
    >
      <span>
        <a href="#">
          <img src="./assets/facebook.svg"/>
        </a>
      </span>
      <span>
        <a href="#">
          <img src="./assets/twitter.svg"/>
        </a>
      </span>
      <span>
        <a href="#">
          <img src="./assets/telegram.svg"/>
        </a>
      </span>
      <span>
        <a href="#">
          <img src="./assets/instagram.svg"/>
        </a>
      </span>
    </div>
  </div>

</footer>
