.main {
  padding: 60px;
}

.login {
  background-color: #103c9b;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
.error {
  color: red;
}
.login-container {
  display: flex;
  justify-content: center;
  //align-items: center;
}

mat-card {
  margin-top: 20px;
}

.button-container {
  text-align: center;
  margin: 5px 0px;
  button {
    width: 70%;
  }
}

.form-container {
  text-align: center;
}

.title {
  text-align: center;

  mat-card-title {
    margin: 20px 0px;
  }
}

mat-error {
  margin: 0px !important;
  font-size: 13px;
}
.link {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    font-size: 14px;
  }
}
.error {
  text-align: center;
  // margin-top: 10px;
  color: red;
  font-size: 14px;
}
.email {
  text-align: center;
  color: #130f40;
  font-weight: 600;
}
