<div class="login">
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="loading"
  ></mat-progress-bar>
  <div class="main">
    <div class="login-container">
      <!--  برای شماره تلفن  -->
      <mat-card class="mat-elevation-z2 col-md-4 col-sm-8 col-12 card">
        <div class="title">
          <mat-card-title> ایمیل خود را وارد کنید </mat-card-title>
        </div>

        <div class="form-container">
          <mat-form-field class="col-sm-10 col-11" appearance="outline">
            <mat-label> ایمیل </mat-label>
            <input
              [(ngModel)]="email"
              [formControl]="emailControl"
              type="text"
              matInput
            />
            <mat-icon matSuffix> email </mat-icon>
            <mat-error *ngIf="emailControl.hasError('required')">
              ایمیل الزامی است
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('pattern')">
              ایمیل معتبر وارد کنید
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="emailError && !emailSuccess" class="error">
          ایمیل وجود ندارد
        </div>
        <div *ngIf="emailSuccess && !emailError" class="email">
          لطفا ایمیل خود را چک کنید
        </div>
        <div style="direction: ltr">
          <button
            *ngIf="!loading"
            (click)="forgetPassword()"
            mat-raised-button
            color="primary"
          >
            ارسال ایمیل
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
