<div class="main">
  <app-client-header></app-client-header>
  <div class="card-container">
    <mat-card class="col-md-6 col-11" >
      <h2 style="text-align: center" >
        404 پیدا نشد
      </h2>
      <div style="text-align: center; margin-top: 10px" >
        <b>  خطا:</b> آدرس درخواست شده  در این سرور یافت نشد.
      </div>
      <div style="margin-top: 20px; font-size: 18px" >
        ممکن است این صفحه توسط کاربر صاحب لینک و یا به دلیل نقض قوانین کپی رایت حذف شده باشد
      </div>
    </mat-card>
  </div>
</div>
