<app-client-header></app-client-header>
<div class="main">
  <h3>
    برای استفاده از خدمات سایت 1XAD شما قبول می کنید فعالیتهای زیر را انجام ندهید:
  </h3>

  <ol>
    <li>
      کوتاه کردن لینک دارای محتوای تهدید آمیز، آزار و خشونت، ویروس، هک، و کلیه موارد غیر قانونی...
    </li>
    <li>
      استفاده از سرویس برای هر گونه هدف غیرقانونی یا غیر مجاز، از جمله پورنوگرافی، تهدید، سوءاستفاده، نقض حقوق قانونی هر
      شخص یا نهادی و... و به طور کلی خلاف قوانین جمهوری اسلامی ایران.
    </li>
    <li>
      ترافیک جعلی را به هر نحوی به پیوندهای خود منتقل کنید. این کار حساب کاربری شما را به طور خودکار توسط سیستم ما قطع
      می کند. دستکاری سیستم ما برای به دست آوردن بازدید نیز مجاز نیست.
    </li>
    <li>
      یجاد حلقه تکرار بین لینکهای کوتاه سایت 1XAD و یا سایر سیستم های مشابه برای درآمد بیشتر.
    </li>
    <li>
      دخالت در امور سایر ناشران و کاربرانی که از خدمات سایت استفاده میکنند.
    </li>
    <li>
      ایجاد زیرمجموعه سازی تقلبی جهت دریافت پاداش اضافه و کسب درآمد.
    </li>
    <li>
      ایجاد حساب های چندگانه. فقط یک حساب کاربری برای هر فرد مجاز است
    </li>
    <li>
      قرار دادن اطلاعات مربوط به نام کاربری و رمز عبور حساب دیجی لینک به دیگران. تمامی کاربران سایت 1XAD موظف به حفظ و نگهداری از اطلاعات مربوط به نام کاربری و رمز عبور خود بوده و به هیچ وجه حق واگذاری و اعطای اجازه استفاده حساب کاربری خود به اشخاص ثالث را ندارند.
    </li>
    <li>
      ارسال اطلاعات نادرست و اشتباه در قسمت پروفایل و عضویت
    </li>
    <li>
      در صورت مشاهده تخلف در لینکها ، مبلغ موجود در حساب کاربری ناشر تا زمان مشخص شدن تخلف بلوکه می‌شود
    </li>
  </ol>
</div>
<app-client-footer></app-client-footer>
