<mat-toolbar class="toolbar" color="primary">
  <span> تبلیغات </span>
  <button (click)="openCreateDialog()" mat-raised-button>ایجاد</button>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loading"
  color="warn"
  mode="indeterminate"
></mat-progress-bar>
<div class="table-container">
  <mat-card class="search-card">
    <div class="row space-between">
      <div class="col-4">
        <mat-form-field style="width: 100%">
          <mat-label> جست و جو</mat-label>
          <input
            [formControl]="searchControl"
            type="text"
            placeholder="جست و جو کنید"
            matInput
          />
          <mat-hint> جست و جو در لینک اصلی</mat-hint>
          <mat-icon matSuffix> search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-select [(ngModel)]="type" (selectionChange)="resetPage()">
            <mat-option [value]="'vertical'"> عمودی </mat-option>
            <mat-option [value]="'horizontal'"> افقی </mat-option>
            <mat-option [value]="'movie'"> فیلم </mat-option>
            <mat-option [value]="'popup'"> پاپ آپ </mat-option>
            <mat-option [value]="'vast'"> وست </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <div
    style="text-align: center; margin-top: 20px"
    *ngIf="!loading && ads !== null && ads.length === 0"
  >
    تبلیغی یافت نشد
  </div>
  <div *ngIf="!loading && ads !== null && ads.length > 0">
    <table mat-table [dataSource]="ads" class="table mat-elevation-z8">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let index = index">
          {{ index + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>نوع تبلیغ</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.type">
          <span *ngSwitchCase="'movie'"> فیلم </span>
          <span *ngSwitchCase="'popup'"> پاپ آپ </span>
          <span *ngSwitchCase="'vertical'"> عمودی </span>
          <span *ngSwitchCase="'horizontal'"> افقی </span>
          <span *ngSwitchCase="'vast'"> وست </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>لینک تبلیغ</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="goToLink(element.link)" target="_blank">
            {{ element.link | link }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>وضعیت</th>
        <td mat-cell *matCellDef="let element">
          {{ element.active ? "فعال" : "غیر فعال" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="iran">
        <th mat-header-cell *matHeaderCellDef>کشور تبلیغ</th>
        <td mat-cell *matCellDef="let element">
          {{ element.iran ? "ایران" : "خارج" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>تاریخ ایجاد</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | jalaali: "dddd  jD jMMMM jYYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>عملیات</th>
        <td mat-cell *matCellDef="let element">
          <button
            *ngIf="element.type !== 'vast'"
            mat-icon-button
            (click)="openPreview(element)"
          >
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button
            (click)="openEditDialog(element)"
            mat-icon-button
            color="primary"
          >
            <mat-icon> edit</mat-icon>
          </button>

          <button
            (click)="openDeleteDialog(element)"
            mat-icon-button
            color="warn"
          >
            <mat-icon> delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="pagination-container justify-content-left mat-elevation-z1">
      <div class="pagination">
        <span class="inf"> تعداد نمایش در هر صفحه </span>
        <mat-form-field>
          <mat-select [(ngModel)]="limit" (selectionChange)="getAll()">
            <mat-option [value]="10"> 10 </mat-option>
            <mat-option [value]="20"> 20 </mat-option>
            <mat-option [value]="50"> 50 </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="inf">
          {{ skip + 1 }} تا {{ skip + limit < count ? skip + limit : count }} از
          {{ count }}
        </span>

        <button
          (click)="firstPage()"
          [disabled]="skip === 0"
          mat-icon-button
          matTooltip="صفحه اول"
        >
          <mat-icon>last_page</mat-icon>
        </button>

        <button
          (click)="prevPage()"
          [disabled]="skip === 0"
          mat-icon-button
          matTooltip="صفحه قبل"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>

        <button
          (click)="nextPage()"
          [disabled]="limit + skip >= count"
          mat-icon-button
          matTooltip="صفحه بعد"
        >
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button
          (click)="lastPage()"
          [disabled]="limit + skip >= count"
          mat-icon-button
          matTooltip="صفحه آخر"
        >
          <mat-icon>first_page</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
